<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">PrivateCircle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">

        <a class="nav-link" routerLink="/list" [class.active]="currentUrl == '/list'">
          <!-- <i class="pi pi-list">&nbsp;</i> -->
          <span class="material-icons navIcon">
            format_list_bulleted&nbsp;
          </span>
          <span class="navText">SAVED LISTS</span> </a>

      </li>

      <a class="nav-link" routerLink="/filters" [class.active]="currentUrl == '/filters'">
        <!-- <i class="pi pi-filter">&nbsp;</i> -->
        <span class="material-icons-outlined navIcon">
          filter_alt
        </span>
        <span class="navText">SAVED FILTERS</span> </a>
      <a class="nav-link" routerLink="/searchHistory" [class.active]="currentUrl == '/searchHistory'">
        <span class="material-icons navIcon">
          history&nbsp;
        </span>
        <span class="navText">SEARCH HISTORY</span> </a>

    </ul>
    <form class="col-6">
      <input class="form-control" [(ngModel)]="search" name="#search" type="search" placeholder="Search"
        aria-label="Search">
    </form>
  </div>
</nav>

<div *ngIf="currentUrl=='/list'">
  <app-list-table [searchParam]="search"></app-list-table>
</div>